<div class="d-flex">
  <h1> <%= @list.name %>
    <%= link_to "", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "icon fa-regular fa-trash-can" %>
  </h1>
</div>
<ul>
  <% @list.movies.each do |movie| %>
  <li>
    <%= movie.title %>
    <%= link_to "", bookmark_path(movie.bookmark_ids), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "icon fa-regular fa-trash-can" %>
  </li>
  <% end %>
</ul>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list.id) %>
